target/**
\.classpath

\.idea/dictionaries/naatsms\.xml

\.idea/sonarlint/issuestore/4/a/4a482644f3e9f9a1dcad74ab8149509c123b1be0

\.idea/sonarlint/issuestore/5/3/530744a1368a0acce63be359a83d97db978dc94b

\.idea/sonarlint/issuestore/5/7/57781b0463512483d52a9b73903ad8f59e5c6921

\.idea/sonarlint/issuestore/5/e/5ed92d2ac7b8de83461d502f2c479a4f21bfb438

\.idea/sonarlint/issuestore/index\.pb

\.idea/vcs\.xml

\.idea/workspace\.xml

\.project

\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/org\.eclipse\.m2e\.core\.prefs

\.vscode/launch\.test\.json
